<div class="modal-dialog-scrollable modal-dialog modal-sm m-0">
  <div class="modal-content">
    <div class="modal-body">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Monikers
              </mat-panel-title>
              <mat-panel-description>
                {{marker.peers.length}} Nodes
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h6 class="h4-responsive">
              <span *ngFor="let p of marker.peers"><strong>{{p.moniker}}</strong><br></span>
            </h6>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Hosting
              </mat-panel-title>
              <mat-panel-description>
                {{marker.peers[0].isp}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              <span><strong>ISP:</strong> {{marker.peers[0].isp}}</span><br>
              <span><strong>Org:</strong> {{marker.peers[0].org}}</span><br>
              <span><strong>As:</strong> {{marker.peers[0].as}}</span><br>
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Location
              </mat-panel-title>
              <mat-panel-description>
                {{marker.peers[0].country}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              <span>{{marker.peers[0].city}}, {{marker.peers[0].region}}, {{marker.peers[0].country}}</span><br>
              <span>Latitude: {{marker.peers[0].lat}}, Longitude: {{marker.peers[0].lon}}</span>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
